<log4net>
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="LogOptimizationService.txt" />
    <appendToFile value="true" />
    <layout type="WSOPT.JsonLayout" />
    <!-- Specify the fully qualified name of your custom JSON layout class -->
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="FileAppender" />
  </root>
</log4net>
